/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@content-bg: transparent;


body {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Share Tech Mono', sans-serif;
}


/* Dashboard: Circular progress */
.CircularProgress-Fg {
  transition: stroke-dashoffset .5s ease-in-out;
}