@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Bangers:400');

/* Universal */
body {
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Share Tech Mono', sans-serif;
}


/* Header */
.header-logo {
  position:relative;
  right:65%;
}


/* Tiles, clean this up with anchors */
.card {
  position: relative;
  width: 12rem; height: 15rem;
  transform-style: preserve-3d;
  transition: transform .6s;
  perspective: 30rem;
}
.card.flipped {
  transform: rotateY(180deg);
}
.tile-back, .tile-front {
  position: absolute;
  width: 100%; height: 100%;
  backface-visibility:hidden;
}
.tile-front { /* Lets fetch the pictures and override */
  background-color: #222;
  transform: rotateY(180deg);
}
.tile-back {
  background-color: #f7f3bd !important;
  background-image: url(https://github.com/jimmiehansson/memory/blob/master/public/images/tile.png?raw=true);
  background-position: -35px 10px;
}
